body{
    background-color: #24353f;
}

.title {
    color: #17a2b8;
}

.inner{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.navbar{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

/* .logout:hover{
    text-decoration: underline !important;
} */

